.FriendsListUser {
  display: flex;
  align-items: center;
  padding: 45px;
}

.FriendsListUser__avatar {
  cursor: pointer;
}

.FriendsListUser h3 {
  margin-left: 10px;
  cursor: pointer;
}
