.friendslist__main {
  width: 800px;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  padding: 15px 25px 15px 25px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  max-width: 100%;
}

.friendslist__users {
  display: flex;
  flex-wrap: wrap;
}
