.postcomment {
  display: flex;
  align-items: center;
}
.postcomment .commentAvatar {
  margin-right: 15px;
}

.postcomment__content {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  max-width: 100%;
}

.postcomment__comment h4 {
  margin: 0;
  padding: 10px 0 0 0;
}
.postcomment__comment p {
  margin: 0;
  padding: 10px 0px 0px 0px;
}

.postcomment__timestamp p {
  margin: 0;
  padding: 0px 0px 0px 0px;
  font-size: 10px;
  color: #9e9e9e;
}
