.sidebarRow {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.2s ease;
}

.sidebarRow:hover {
  background-color: #ecf39e;
  border-radius: 10px;
}

.sidebarRow > h4 {
  margin-left: 10px;
}

.sidebarRow > .MuiSvgIcon-root {
  color: #4f772d;
}
